<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        When other websites give you text, they’re not sending the best. They’re
        not sending you, they’re sending words that have lots of problems and
        they’re bringing those problems with us. They’re bringing mistakes.
        They’re bringing misspellings. They’re typists… And some, I assume, are
        good words. We are going to make placeholder text great again. Greater
        than ever before.
      </p>
      <p>
        The best taco bowls are made in Trump Tower Grill. I love Hispanics! We
        have so many things that we have to do better... and certainly ipsum is
        one of them. This placeholder text is gonna be HUGE. Lorem Ipsum is the
        single greatest threat. We are not - we are not keeping up with other
        websites.
      </p>
      <p>
        I don't think anybody knows it was Russia that wrote Lorem Ipsum, but I
        don't know, maybe it was. It could be Russia, but it could also be
        China. It could also be lots of other people. It also could be some
        wordsmith sitting on their bed that weights 400 pounds. Ok? I write the
        best placeholder text, and I'm the biggest developer on the web by
        far... While that's mock-ups and this is politics, are they really so
        different?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
